<a href="https://colab.research.google.com/github/satyakala-teja/analytics-capstone-satyakala/blob/main/notebooks/01_data_loading_and_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01 â€“ Data Loading & Exploratory Data Analysis (EDA)
**Author:** Satyakala Devata  

## Objective
Load the dataset, inspect its structure, check for missing values, derive basic statistics, and generate initial insights.

---

## 1. Load Dataset
Load CSV file into a pandas DataFrame from the `/data` folder.

In [13]:
import os

for root, dirs, files in os.walk('/content'):
    if 'sales_data.csv' in files:
        print("FOUND IN:", root)

FOUND IN: /content

In [14]:
import pandas as pd

# Load the dataset from Colab local environment
df =  pd.read_csv('/sales_data.csv')

# Show first few rows
df.head()

,order_id,order_date,customer_id,category,sub_category,product,quantity,unit_price,sales,region
0,1001,2023-01-02,C001,Office Supplies,Binders,Elastic Binder,2,5.0,10.0,East
1,1002,2023-01-03,C002,Furniture,Chairs,Ergo Chair,1,150.0,150.0,West
2,1003,2023-01-04,C003,Technology,Phones,SmartPhone X,1,700.0,700.0,North
3,1004,2023-01-05,C001,Office Supplies,Paper,Copy Paper,10,3.5,35.0,East
4,1005,2023-01-06,C004,Technology,Laptops,UltraBook Pro,1,1200.0,1200.0,South

In [15]:
df.head()

,order_id,order_date,customer_id,category,sub_category,product,quantity,unit_price,sales,region
0,1001,2023-01-02,C001,Office Supplies,Binders,Elastic Binder,2,5.0,10.0,East
1,1002,2023-01-03,C002,Furniture,Chairs,Ergo Chair,1,150.0,150.0,West
2,1003,2023-01-04,C003,Technology,Phones,SmartPhone X,1,700.0,700.0,North
3,1004,2023-01-05,C001,Office Supplies,Paper,Copy Paper,10,3.5,35.0,East
4,1005,2023-01-06,C004,Technology,Laptops,UltraBook Pro,1,1200.0,1200.0,South

In [21]:
df.shape

(5, 10)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      5 non-null      int64
 1   order_date    5 non-null      object
 2   customer_id   5 non-null      object
 3   category      5 non-null      object
 4   sub_category  5 non-null      object
 5   product       5 non-null      object
 6   quantity      5 non-null      int64
 7   unit_price    5 non-null      float64
 8   sales         5 non-null      float64
 9   region        5 non-null      object
dtypes: float64(2), int64(2), object(6)
memory usage: 532.0+ bytes

In [17]:
df.describe()

          order_id   quantity   unit_price        sales
count     5.000000   5.000000     5.000000     5.000000
mean   1003.000000   3.000000   411.700000   419.000000
std       1.581139   3.937004   525.607458   518.656919
min    1001.000000   1.000000     3.500000    10.000000
25%    1002.000000   1.000000     5.000000    35.000000
50%    1003.000000   1.000000   150.000000   150.000000
75%    1004.000000   2.000000   700.000000   700.000000
max    1005.000000  10.000000  1200.000000  1200.000000

In [18]:
df.isnull().sum()

order_id        0
order_date      0
customer_id     0
category        0
sub_category    0
product         0
quantity        0
unit_price      0
sales           0
region          0
dtype: int64

In [19]:
df.nunique()

order_id        5
order_date      5
customer_id     4
category        3
sub_category    5
product         5
quantity        3
unit_price      5
sales           5
region          4
dtype: int64

In [20]:
df.groupby('region')['sales'].sum()

region
East       45.0
North     700.0
South    1200.0
West      150.0
Name: sales, dtype: float64