<a href="https://colab.research.google.com/github/satyakala-teja/analytics-capstone-satyakala/blob/main/notebooks/01_data_loading_and_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

# Load the dataset from Colab local environment
df =  pd.read_csv('/sales_data.csv')

# Show first few rows
df.head()
df.shape
df.info()
df.describe()
df.isnull().sum()
df.nunique()
df.groupby('region')['sales'].sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      5 non-null      int64
 1   order_date    5 non-null      object
 2   customer_id   5 non-null      object
 3   category      5 non-null      object
 4   sub_category  5 non-null      object
 5   product       5 non-null      object
 6   quantity      5 non-null      int64
 7   unit_price    5 non-null      float64
 8   sales         5 non-null      float64
 9   region        5 non-null      object
dtypes: float64(2), int64(2), object(6)
memory usage: 532.0+ bytes

region
East       45.0
North     700.0
South    1200.0
West      150.0
Name: sales, dtype: float64