<a href="https://colab.research.google.com/github/satyakala-teja/analytics-capstone-satyakala/blob/main/notebooks/03_trend_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trend Analysis for Sales Data

This notebook analyzes trends in sales, revenue, profit, category performance, and customer/order behavior.

## 1. Month-wise Sales Trend
Analyze how sales vary across different months.

In [4]:
import pandas as pd

df = pd.read_csv('/content/data/sales_data_cleaned.csv')
df.head()

,order_id,order_date,customer_id,category,sub_category,product,quantity,unit_price,sales,region,...,month_name,quarter,order_year,order_month,order_day,order_weekday,is_weekend,category_full,revenue_per_unit,high_value_order
0,1001,2023-01-02,C001,Office Supplies,Binders,Elastic Binder,2,5.0,10.0,East,...,January,1,2023,1,2,0,0,Office Supplies - Binders,5.0,No
1,1002,2023-01-03,C002,Furniture,Chairs,Ergo Chair,1,150.0,150.0,West,...,January,1,2023,1,3,1,0,Furniture - Chairs,150.0,No
2,1003,2023-01-04,C003,Technology,Phones,SmartPhone X,1,700.0,700.0,North,...,January,1,2023,1,4,2,0,Technology - Phones,700.0,Yes
3,1004,2023-01-05,C001,Office Supplies,Paper,Copy Paper,10,3.5,35.0,East,...,January,1,2023,1,5,3,0,Office Supplies - Paper,3.5,No
4,1005,2023-01-06,C004,Technology,Laptops,UltraBook Pro,1,1200.0,1200.0,South,...,January,1,2023,1,6,4,0,Technology - Laptops,1200.0,Yes

In [5]:
monthly_trend = df.groupby('month_name')['total_revenue'].sum().sort_values(ascending=False)
monthly_trend

month_name
January    2095.0
Name: total_revenue, dtype: float64

## 2. Region-wise Revenue Analysis
Understand which regions contribute the most to total revenue.

In [6]:
region_trend = df.groupby('region')['total_revenue'].sum().sort_values(ascending=False)
region_trend

region
South    1200.0
North     700.0
West      150.0
East       45.0
Name: total_revenue, dtype: float64

## 3. Category-wise Revenue Analysis
Analyze which product categories generate the highest revenue.

In [7]:
category_trend = df.groupby('category')['total_revenue'].sum().sort_values(ascending=False)
category_trend

category
Technology         1900.0
Furniture           150.0
Office Supplies      45.0
Name: total_revenue, dtype: float64

## 4. Sub-Category Revenue Analysis
Break down revenue by sub-categories for detailed product insights.

In [8]:
sub_category_trend = df.groupby('sub_category')['total_revenue'].sum().sort_values(ascending=False)
sub_category_trend

sub_category
Laptops    1200.0
Phones      700.0
Chairs      150.0
Paper        35.0
Binders      10.0
Name: total_revenue, dtype: float64

## 5. Top Products by Revenue
Identify the products generating the highest revenue.

In [9]:
top_products = df.groupby('product')['total_revenue'].sum().sort_values(ascending=False).head(5)
top_products

product
UltraBook Pro     1200.0
SmartPhone X       700.0
Ergo Chair         150.0
Copy Paper          35.0
Elastic Binder      10.0
Name: total_revenue, dtype: float64